<a href="https://colab.research.google.com/github/KONA1005/google_drive/blob/main/google_colab/%ED%8C%90%EB%8B%A4%EC%8A%A4%ED%8A%9C%ED%86%A0%EB%A6%AC%EC%96%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 라이브러리 불러오기

In [ ]:
 import pandas as pd
 print(pd.__version__)

1.3.5

# 테스트

In [ ]:
 temp_dic = {"col1":[1, 2, 3],
             "col2":[3, 4, 5]}
 df = pd.DataFrame(temp_dic)
 print(df)
 print(type(df)) # df 는 데이타프레임을 참조하고있다

   col1  col2
0     1     3
1     2     4
2     3     5
<class 'pandas.core.frame.DataFrame'>

In [ ]:
 # 시리즈 만들기
 temp_dic = {'a': 1, 'b': 2, 'c': 3}
 ser = pd.Series(temp_dic)
 print(ser)
 print(type(ser))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

# 구글 드라이브 연동하기

In [ ]:
 from google.colab import drive
 drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
 DATA_PATH = '/content/drive/MyDrive/Colab Notebooks/data/Lemonade2016.csv'
 juice = pd.read_csv(DATA_PATH)
 juice

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
0    7/1/2016     Park     97      67           70      90.0   0.25
1    7/2/2016     Park     98      67           72      90.0   0.25
2    7/3/2016     Park    110      77           71     104.0   0.25
3    7/4/2016    Beach    134      99           76      98.0   0.25
4    7/5/2016    Beach    159     118           78     135.0   0.25
5    7/6/2016    Beach    103      69           82      90.0   0.25
6    7/6/2016    Beach    103      69           82      90.0   0.25
7    7/7/2016    Beach    143     101           81     135.0   0.25
8         NaN    Beach    123      86           82     113.0   0.25
9    7/9/2016    Beach    134      95           80     126.0   0.25
10  7/10/2016    Beach    140      98           82     131.0   0.25
11  7/11/2016    Beach    162     120           83     135.0   0.25
12  7/12/2016    Beach    130      95           84      99.0   0.25
13  7/13/2016    Beach    109      75           77      99.0   0.25
14  7/14/2016    Beach    122      85           78     113.0   0.25
15  7/15/2016    Beach     98      62           75     108.0   0.50
16  7/16/2016    Beach     81      50           74      90.0   0.50
17  7/17/2016    Beach    115      76           77     126.0   0.50
18  7/18/2016     Park    131      92           81     122.0   0.50
19  7/19/2016     Park    122      85           78     113.0   0.50
20  7/20/2016     Park     71      42           70       NaN   0.50
21  7/21/2016     Park     83      50           77      90.0   0.50
22  7/22/2016     Park    112      75           80     108.0   0.50
23  7/23/2016     Park    120      82           81     117.0   0.50
24  7/24/2016     Park    121      82           82     117.0   0.50
25  7/25/2016     Park    156     113           84     135.0   0.50
26  7/26/2016     Park    176     129           83     158.0   0.35
27  7/27/2016     Park    104      68           80      99.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

- 데이터를 불러왔어.
- 첫번째 파악해야 하는 것 = 데이터 구조
- 데이터 프레임 안에 있는 메서드 info, hea, tail ... 쓴거임
- 인스턴스를 생성한거다 juice로 (?)

In [ ]:
 juice.info() # 결측치가 있어서 카운트 안돼서 31이 있음 원래 32인가봐

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

In [ ]:
 juice.head() # 디폴트는 5, 숫자 써서 봐도 됨

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25

In [ ]:
 juice.tail()

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
27  7/27/2016     Park    104      68           80      99.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

- Describe() 함수
- 기술통계량 확인 해주는 함수

In [ ]:
 type(juice.describe())

pandas.core.frame.DataFrame

In [ ]:
 juice.describe()

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354687
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

- value_counts()

In [ ]:
 print(juice['Location'].value_counts())
 print(type(juice['Location'].value_counts()))

Beach    17
Park     15
Name: Location, dtype: int64
<class 'pandas.core.series.Series'>

# 데이터 다뤄보기
- 행 열 핸들링 해보자

In [ ]:
 juice['Sold'] = 0
 print(juice.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25     0
1  7/2/2016     Park     98      67           72      90.0   0.25     0
2  7/3/2016     Park    110      77           71     104.0   0.25     0

In [ ]:
 juice['Sold'] =  juice['Lemon'] +  juice['Orange']
 print(juice.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

- 매출액 = 가격 * 판매량
- Revenue 로 구해봐라

In [ ]:
 juice['Revenue'] =  juice['Price'] *  juice['Sold']
 print(juice.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

   Revenue
0    41.00
1    41.25
2    46.75

- 행과 열 제거 하는 함수
- drop(axis=0 or 1)
  + axis = 0 으로 설정시 행방향(index)으로 drop() 실행
  + axis = 1 로 설정시 열방향으로 drop() 실행

In [ ]:
 juice_colum_drop = juice.drop('Sold', axis = 1)
 print(juice_colum_drop.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Revenue
0  7/1/2016     Park     97      67           70      90.0   0.25    41.00
1  7/2/2016     Park     98      67           72      90.0   0.25    41.25
2  7/3/2016     Park    110      77           71     104.0   0.25    46.75

In [ ]:
 juice_row_drop = juice.drop(0, axis = 0)
 print(juice_row_drop.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187
3  7/4/2016    Beach    134      99           76      98.0   0.25   233

   Revenue
1    41.25
2    46.75
3    58.25

# 데이터 인덱싱

In [ ]:
 juice[4:8]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00

## boolean 값을 활용한 데이터 추출(T,F값)

In [ ]:
 # Location 이 Beach인 경우
 # juice['Location'].value_counts()
 juice[juice['Location'] == "Beach" ]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
13,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
30,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05

 ## iloc vs loc
 - 차이를 확인한다.

In [ ]:
juice.head(3)

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75

In [ ]:
 %%time
 
 juice.iloc[0:3 , 0:2]

CPU times: user 724 µs, sys: 0 ns, total: 724 µs
Wall time: 736 µs

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

- loc
---> 라벨 기반

In [ ]:
 %%time
 
 juice.loc[0:2,['Date','Location']]
 # loc는 라벨 기반이다. 0인덱스 라벨 0임

CPU times: user 2.39 ms, sys: 0 ns, total: 2.39 ms
Wall time: 2.53 ms

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [ ]:
 juice[juice['Leaflets'] >= 100, 컬럼명 별도 추출]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
19,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
22,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
23,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75

In [ ]:
 juice.loc[juice['Leaflets'] >= 100, ['Date','Location']]

         Date Location
2    7/3/2016     Park
4    7/5/2016    Beach
7    7/7/2016    Beach
8         NaN    Beach
9    7/9/2016    Beach
10  7/10/2016    Beach
11  7/11/2016    Beach
14  7/14/2016    Beach
15  7/15/2016    Beach
17  7/17/2016    Beach
18  7/18/2016     Park
19  7/19/2016     Park
22  7/22/2016     Park
23  7/23/2016     Park
24  7/24/2016     Park
25  7/25/2016     Park
26  7/26/2016     Park

## 정렬
- sort_values()

In [ ]:
 juice.sort_values(by=['Revenue'], ascending=False).head(3) # Revenue 기준 정렬

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75

In [ ]:
 juice.sort_values(by=['Price','Temperature'], ascending=False)
 # price기준 값 그룹화가 되어서 temperature 내림차순 정렬함

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
23,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
22,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
19,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
21,7/21/2016,Park,83,50,77,90.0,0.50,133,66.50
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
20,7/20/2016,Park,71,42,70,NaN,0.50,113,56.50
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
28,7/28/2016,Park,96,63,82,90.0,0.35,159,55.65
30,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05
29,7/29/2016,Park,100,66,81,95.0,0.35,166,58.10
27,7/27/2016,Park,104,68,80,99.0,0.35,172,60.20
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
13,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00

In [ ]:
 juice.sort_values(by=['Price','Temperature'], ascending=[False,True]).head(5)
 # price = flase , temparature = true 정렬

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
20,7/20/2016,Park,71,42,70,NaN,0.5,113,56.5
16,7/16/2016,Beach,81,50,74,90.0,0.5,131,65.5
15,7/15/2016,Beach,98,62,75,108.0,0.5,160,80.0
17,7/17/2016,Beach,115,76,77,126.0,0.5,191,95.5
21,7/21/2016,Park,83,50,77,90.0,0.5,133,66.5

In [ ]:
 juice.sort_values(by=['Price','Temperature'], ascending=False).reset_index(drop=True)
 # 새로 인덱스 ..번호 매기기? 리셋..

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
0,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
1,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
2,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
3,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
4,7/22/2016,Park,112,75,80,108.0,0.50,187,93.50
5,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
6,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
7,7/21/2016,Park,83,50,77,90.0,0.50,133,66.50
8,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
9,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
10,7/20/2016,Park,71,42,70,NaN,0.50,113,56.50
11,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75
12,7/28/2016,Park,96,63,82,90.0,0.35,159,55.65
13,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
14,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05
15,7/29/2016,Park,100,66,81,95.0,0.35,166,58.10
16,7/27/2016,Park,104,68,80,99.0,0.35,172,60.20
17,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
18,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
19,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
20,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
21,NaN,Beach,123,86,82,113.0,0.25,209,52.25
22,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
23,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
24,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
25,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
26,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
27,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
28,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
29,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
30,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
31,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00

# Groupby() 정말 많이 씀
- 피벗테이블
- 목적 : 데이터 요약하려고. R도 마찬가지
- R dplyr groupby() %>% summarize()

In [ ]:
 juice.groupby(by = 'Location').count()

          Date  Lemon  Orange  Temperature  Leaflets  Price  Sold  Revenue
Location
Beach       16     17      17           17        17     17    17       17
Park        15     15      15           15        14     15    15       15

In [ ]:
import numpy as np

juice.groupby(['Location'])[['Revenue','Lemon']].agg([max, min, sum, np.mean])
# 각 로케이션에 따른 직계함수가 만들어짐

         Revenue                          Lemon
             max   min     sum       mean   max min   sum        mean
Location
Beach       95.5  43.0  1002.8  58.988235   162  76  2020  118.823529
Park       134.5  41.0  1178.2  78.546667   176  71  1697  113.133333